<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".CongregationReportsApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CongregationReports"
        tools:targetApi="31">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CongregationReports.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.PublisherListActivity"
            android:label="Publicadores"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.PublisherDetailActivity"
            android:label="Detalle Publicador"
            android:parentActivityName=".ui.PublisherListActivity" />

        <activity
            android:name=".ui.ReportListActivity"
            android:label="Informes"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.ReportDetailActivity"
            android:label="Detalle Informe"
            android:parentActivityName=".ui.ReportListActivity" />

        <activity
            android:name=".ui.MeetingListActivity"
            android:label="Reuniones"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.MeetingDetailActivity"
            android:label="Detalle Reunión"
            android:parentActivityName=".ui.MeetingListActivity" />

        <activity
            android:name=".ui.BackupActivity"
            android:label="Respaldo de Datos"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.StatisticsActivity"
            android:label="Estadísticas"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.ReportStatusActivity"
            android:label="Estado de Informes"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.SecurityActivity"
            android:label="Seguridad"
            android:exported="false" />

        <activity
            android:name=".ui.SecuritySettingsActivity"
            android:label="Configuración de Seguridad"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.ComparativeReportsActivity"
            android:label="Reportes Comparativos"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.FieldServiceGroupsActivity"
            android:label="Grupos de Predicación"
            android:parentActivityName=".ui.MainActivity" />

        <activity
            android:name=".ui.FieldServiceGroupDetailActivity"
            android:label="Detalle de Grupo"
            android:parentActivityName=".ui.FieldServiceGroupsActivity" />

        <activity
            android:name=".ui.OfficialFormsActivity"
            android:label="Formularios Oficiales"
            android:parentActivityName=".ui.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
